.container {
    margin: 20px auto;
    width: 80%;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .list-item {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    // justify-content: flex-end;
    // display: flex;
  }
  
  .list-item:hover {
    background-color: #f9f9f9;
  }
  
  button {
    margin-top: 10px;
  }
 
  
  
  
  